<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Clientes</h1>
  <p>
    <%= link_to "Nuevo Cliente", new_client_path, class: "btn btn-success btn-sm" %>
  </p>
  <div id="clients">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Movie</th>
          <th scope="col">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td scope="col"><%= client.id %></td>
            <td scope="col"><%= client.name %></td>
            <td scope="col"><%= client.age %></td>
            <% if client.movie.nil?%>
            <td scope="col">No posee pelicula en arriendo</td>
            <% else %>
            <td scope="col"><%= client.movie.name %></td>
            <% end %>
            <td>
              <div class="btn-group">
                <%= link_to "Ver este cliente", client, class: "btn btn-primary btn-sm" %>
                <%= link_to "Editar este cliente", edit_client_path(client), class: "btn btn-warning btn-sm" %>
                <%= button_to "Destroy this client", client, method: :delete, class: "btn btn-danger btn-sm" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
